.line {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(12, min-content);
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;

  p {
    font-size: 6rem;
    padding: 0 0.7rem;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    transform: translatey(-100vh);
    animation-fill-mode: both;
  }
}
